---
title: Newsletter
---

.content_wrap
  .content_pad
    .sixcol
      %h1 Sign up for our newsletter
      %p We have launched our closed beta on July 4, 2011 and if all things are going according to plan, we'll make the service public at the end of the year.
      %p
        If you would like to stay up to date, consider registering for our newsletter through the form on the right or follow us on
        %a{ :href => "http://www.twitter.com/assetsio" }
          Twitter
        or
        %a{ :href => "http://www.facebook.com/pages/Assetsio/129729683771092" }
          Facebook.

    .sixcol.last
      = render 'mailchimp'
