---
title: Sign up
---

.content_wrap
  .content_pad
    .sixcol
      %h1 Sign up
      %p We are currently ramping up and will enter closed beta on July 4.
      %p If you would like to stay up to date and be among the first to use Assets.io, leave us your details here.

    .sixcol.last
      = render 'mailchimp'
