---
title: Launch imminent
created_at: June 29, 2011
---

%p We are gearing up for the launch these days. Our final infrastructure is set up, featuring two EC2 instances behind an Elastic Load Balancer for the Origin Server and the (slim) administrative backend based on Rails, hosted on Heroku.
%p
  As planned, we will send out beta invites as early as July 4th to everyone interested and registered
  %a{ :href => "/signup/" }
    here
  .The initial wave will cover around 20 users at first, and then we will let more users in, on a 2 week frequency.
%p We are excited and hope you are too.
