---
title: Launch imminent
created_at: June 29, 2011
---

%p We are gearing up for the launch of our closed beta these days. Our final infrastructure is set up, and we are ready to go.
%p
  As planned, we will send out beta invites as early as July 4, to everyone interested and registered
  %a{ :href => "/signup/" }
    here.
  Those who got a beta invite code will be able to sign up for an account at a URL that will be disclosed on July 4.
  The initial wave will cover around 20 users at first, and we will let more users in, at a 2 week frequency.
%h3 The beta is free
%p The closed beta will be free, yes, as in free beer. We'd like to ask all users for a good estimate if their traffic is in the region of fair-use or not. If you are unsure, please ask. We are not backed by big investments, just two developers trying to get this business started all by themselves.
%h3 We need your feedback
%p As this is going to be our beta test, we need your feedback. So please send us everything thats on your mind about our registration process and API usage, every bug or inconvinience you may find. We want to polish the service for a commercial start later this year and your first hand experience with it is our best indicator for if we are ready for primetime or not.
%p We are excited and hope you are too.
