---
title: Launch imminent
created_at: June 29, 2011
---

%p We are gearing up for the launch of our closed beta these days. Our final infrastructure is set up, and we are ready to go.
%p
  As planned, we will send out beta invites as early as July 4, to everyone interested and registered
  %a(href="/signup/") with our sign up form
  \.
  Starting today, you can also set up your personal login at
  %a(href="https://secure.assets.io")
    secure.assets.io
  \.
  Once you got a beta invite code, the login can be fully activated and we will provide you with a personal CDN account throughout the beta.
  The initial wave will cover around 20 users at first, and we will let more users in, at a 2 week frequency.
%h3 The beta is free
%p The closed beta will be free as in beer. We'd like to ask all users to judge if their traffic is in the region of fair-use or not. If you are unsure, please ask. We are not backed by big investments, just two developers bootstrapping this business.
%h3 We need your feedback
%p
  To make the most out of this beta test please send us everything that's on your mind about our registration process and API usage, every bug or inconvinience you may find.
  %a(href="mailto:support@assets.io") support@assets.io
  is available for this, but please feel free to use any communication channel that suits you.
%p We want to polish the service for a commercial start later this year and your first hand experience with it is our best indicator for if we are ready for primetime or not.
%p We are very excited and hope you are too.
