.facebook
  :plain
    <iframe src="http://www.facebook.com/plugins/like.php?app_id=204529422918742&amp;href=http%3A%2F%2Fwww.assets.io%2F&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
