---
title: Imprint
---

.content_wrap
  .content_pad
    .sixcol
      .box
        %h3 Assets.io
        %p
          %strong Martin Rehfeld &amp; Thomas Klokosch GbR
        %p
          %strong Postanschrift
          %br
          Thomas Klokosch
          %br
          Hauptstrasse 4
          %br
          10827 Berlin
        %p
          %strong Telefon:
          +49 151 156 74 912
        %p
          %strong E-Mail:
          %a{ :href => 'mailto:info@assets.io' }
            info@assets.io
          %br
          %strong Internet*:
          %a{ :href => 'http://www.assets.io'}
            www.assets.io
    .sixcol.last
      .box
        %p
          %strong Vertretungsberechtigte Gesellschafter**:
          Martin Rehfeld &amp; Thomas Klokosch
          %br
          %strong Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:
          Thomas Klokosch (Anschrift wie oben) ****
        %p
          %strong Haftungshinweis:
          Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

